body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
  font-family: verdana;
}

p {
  color: black;
  text-align: center;
  font-family: verdana;
}
p.inset {border-style: inset;}

img {
  width:500px;
  height:900px;
}

#example1 {
  background-image: url(IMG_2984 (Edited).PNG);
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
  padding: 15px;
}
